In [1]:
import pandas as pd
import os

#### CASES

In [2]:
us_cases = pd.read_csv('time_series_covid19_confirmed_US.csv')

In [3]:
us_cases

,UID,iso2,iso3,code3,FIPS,Admin2,Province_State,Country_Region,Lat,Long_,...,7/9/20,7/10/20,7/11/20,7/12/20,7/13/20,7/14/20,7/15/20,7/16/20,7/17/20,7/18/20
0,16,AS,ASM,16,60.0,NaN,American Samoa,US,-14.271000,-170.132000,...,0,0,0,0,0,0,0,0,0,0
1,316,GU,GUM,316,66.0,NaN,Guam,US,13.444300,144.793700,...,309,310,310,310,312,312,313,314,314,314
2,580,MP,MNP,580,69.0,NaN,Northern Mariana Islands,US,15.097900,145.673900,...,31,31,33,33,33,36,36,37,37,37
3,63072001,PR,PRI,630,72001.0,Adjuntas,Puerto Rico,US,18.180117,-66.754367,...,60,61,63,63,66,66,66,66,67,68
4,63072003,PR,PRI,630,72003.0,Aguada,Puerto Rico,US,18.360255,-67.175131,...,50,50,52,54,57,58,60,60,66,67
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
3335,84070016,US,USA,840,NaN,Central Utah,Utah,US,39.372319,-111.575868,...,243,263,266,270,271,273,278,284,295,301
3336,84070017,US,USA,840,NaN,Southeast Utah,Utah,US,38.996171,-110.701396,...,47,50,54,54,55,54,54,54,55,56
3337,84070018,US,USA,840,NaN,Southwest Utah,Utah,US,37.854472,-111.441876,...,1881,1949,2005,2069,2116,2140,2158,2239,2317,2369
3338,84070019,US,USA,840,NaN,TriCounty,Utah,US,40.124915,-109.517442,...,63,63,65,69,72,73,79,82,90,101
3339,84070020,US,USA,840,NaN,Weber-Morgan,Utah,US,41.271160,-111.914512,...,1396,1456,1494,1558,1580,1608,1631,1829,1928,2005

In [4]:
states_c = list(us_cases['Province_State'].unique())

In [5]:
case_totals=[]
for state in states_c:
    new_df = pd.DataFrame()
    new_df = us_cases[us_cases['Province_State']==state]
    day_cases=[state]
    for i in range(11,len(list(us_cases.columns))):
        day_cases.append(new_df.iloc[:,i].sum())
    
    case_totals.append(day_cases)

In [6]:
dates = list(us_cases.columns)[11::]
dates.insert(0, 'State')

In [7]:
cases_ts = pd.DataFrame(case_totals, columns=dates)

In [9]:
cases_ts.head()

,State,1/22/20,1/23/20,1/24/20,1/25/20,1/26/20,1/27/20,1/28/20,1/29/20,1/30/20,...,7/9/20,7/10/20,7/11/20,7/12/20,7/13/20,7/14/20,7/15/20,7/16/20,7/17/20,7/18/20
0,American Samoa,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
1,Guam,0,0,0,0,0,0,0,0,0,...,309,310,310,310,312,312,313,314,314,314
2,Northern Mariana Islands,0,0,0,0,0,0,0,0,0,...,31,31,33,33,33,36,36,37,37,37
3,Puerto Rico,0,0,0,0,0,0,0,0,0,...,8862,9137,9366,9654,10010,10123,10379,10574,11120,11453
4,Virgin Islands,0,0,0,0,0,0,0,0,0,...,144,153,167,181,206,206,243,249,263,283

In [10]:
cases_ts.drop([56,57])

,State,1/22/20,1/23/20,1/24/20,1/25/20,1/26/20,1/27/20,1/28/20,1/29/20,1/30/20,...,7/9/20,7/10/20,7/11/20,7/12/20,7/13/20,7/14/20,7/15/20,7/16/20,7/17/20,7/18/20
0,American Samoa,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
1,Guam,0,0,0,0,0,0,0,0,0,...,309,310,310,310,312,312,313,314,314,314
2,Northern Mariana Islands,0,0,0,0,0,0,0,0,0,...,31,31,33,33,33,36,36,37,37,37
3,Puerto Rico,0,0,0,0,0,0,0,0,0,...,8862,9137,9366,9654,10010,10123,10379,10574,11120,11453
4,Virgin Islands,0,0,0,0,0,0,0,0,0,...,144,153,167,181,206,206,243,249,263,283
5,Alabama,0,0,0,0,0,0,0,0,0,...,49174,50508,51947,53587,55545,57255,59067,61088,63091,65234
6,Alaska,0,0,0,0,0,0,0,0,0,...,1268,1323,1385,1479,1539,1579,1631,1693,1734,1796
7,Arizona,0,0,0,0,1,1,1,1,1,...,112671,116892,119930,122467,123824,128097,131354,134613,138523,141265
8,Arkansas,0,0,0,0,0,0,0,0,0,...,26052,26803,27864,28367,28939,29812,30297,31114,31762,32533
9,California,0,0,0,0,2,2,2,2,2,...,302484,310885,318761,324543,333357,346211,354885,364706,373259,380745
10,Colorado,0,0,0,0,0,0,0,0,0,...,35507,36173,36573,36895,37218,37668,38137,38708,39326,39770
11,Connecticut,0,0,0,0,0,0,0,0,0,...,47209,47287,47287,47287,47510,47530,47636,47750,47893,47893
12,Delaware,0,0,0,0,0,0,0,0,0,...,12531,12652,12743,12804,12879,12969,13050,13114,13337,13429
13,District of Columbia,0,0,0,0,0,0,0,0,0,...,10679,10743,10801,10847,10906,10946,11026,11076,11115,11194
14,Florida,0,0,0,0,0,0,0,0,0,...,232718,244151,254511,269811,282435,291629,301810,315775,327241,337569
15,Georgia,0,0,0,0,0,0,0,0,0,...,106727,111217,114401,116935,120572,123963,127838,131287,135192,139880
16,Hawaii,0,0,0,0,0,0,0,0,0,...,1130,1158,1200,1220,1243,1264,1292,1311,1334,1354
17,Idaho,0,0,0,0,0,0,0,0,0,...,9429,9929,10506,10903,11404,11720,12449,13134,13753,14303
18,Illinois,0,0,1,1,1,1,1,1,1,...,151572,152899,154094,155048,155931,156638,157825,159082,160509,161785
19,Indiana,0,0,0,0,0,0,0,0,0,...,49575,50300,51079,51612,52037,52685,53370,54080,54813,55654
20,Iowa,0,0,0,0,0,0,0,0,0,...,33254,34172,34658,35410,35631,35866,36536,37350,37903,38313
21,Kansas,0,0,0,0,0,0,0,0,0,...,17785,18303,18687,18981,19645,19887,20349,20817,21388,21693
22,Kentucky,0,0,0,0,0,0,0,0,0,...,18245,18672,19121,19389,19653,20223,20677,21083,21605,22184
23,Louisiana,0,0,0,0,0,0,0,0,0,...,71994,74636,76803,78122,79827,82042,84131,86411,88590,88590
24,Maine,0,0,0,0,0,0,0,0,0,...,3486,3499,3520,3539,3558,3566,3578,3598,3636,3645
25,Maryland,0,0,0,0,0,0,0,0,0,...,71447,71910,72467,73109,73527,74260,75016,75664,76371,77206
26,Massachusetts,0,0,0,0,0,0,0,0,0,...,110897,111110,111398,111597,111827,112130,112347,112581,112879,113238
27,Michigan,0,0,0,0,0,0,0,0,0,...,75063,75685,76370,76776,77198,77864,78913,79839,80593,81338
28,Minnesota,0,0,0,0,0,0,0,0,0,...,40163,40767,41571,42281,42772,43170,43742,44347,45013,45470
29,Mississippi,0,0,0,0,0,0,0,0,0,...,33591,34622,35419,36287,36680,37542,38567,39797,40829,41846
30,Missouri,0,0,0,0,0,0,0,0,0,...,26410,27069,27606,27880,28289,29240,30057,30873,31738,32704
31,Montana,0,0,0,0,0,0,0,0,0,...,1466,1593,1677,1758,1843,1952,2096,2231,2366,2471
32,Nebraska,0,0,0,0,0,0,0,0,0,...,20623,20777,20998,21172,21399,21717,21979,22134,22361,22481
33,Nevada,0,0,0,0,0,0,0,0,0,...,24904,25908,26838,27683,28515,29619,30468,31915,33295,34477
34,New Hampshire,0,0,0,0,0,0,0,0,0,...,5973,5991,6024,6054,6068,6091,6113,6139,6165,6188
35,New Jersey,0,0,0,0,0,0,0,0,0,...,174270,174628,174959,175298,175522,175915,176278,176501,176551,176814
36,New Mexico,0,0,0,0,0,0,0,0,0,...,14251,14549,14773,15028,15291,15514,15841,16138,16456,16736
37,New York,0,0,0,0,0,0,0,0,0,...,399513,400299,401029,401706,402263,403175,404006,404775,405551,406305
38,North Carolina,0,0,0,0,0,0,0,0,0,...,79656,82032,83906,85771,87669,90000,91837,93708,95570,98092
39,North Dakota,0,0,0,0,0,0,0,0,0,...,4071,4155,4243,4334,4442,4493,4565,4668,4792,4907
40,Ohio,0,0,0,0,0,0,0,0,0,...,61331,62856,64214,65592,66853,67995,69311,70601,72280,73821
41,Oklahoma,0,0,0,0,0,0,0,0,0,...,18497,19092,19779,20235,20746,21740,22814,23440,24140,25057
42,Oregon,0,0,0,0,0,0,0,0,0,...,11188,11454,11851,12170,12438,12805,13081,13509,13802,14149
43,Pennsylvania,0,0,0,0,0,0,0,0,0,...,97542,98482,99216,99794,100330,101266,102269,103075,104079,104780
44,Rhode Island,0,0,0,0,0,0,0,0,0,...,17243,17312,17312,17312,17487,17588,17640,17711,17793,17793
45,South Carolina,0,0,0,0,0,0,0,0,0,...,50691,52419,54699,56648,58168,60389,62245,64083,66060,67612
46,South Dakota,0,0,0,0,0,0,0,0,0,...,7336,7401,7454,7499,7524,7572,7652,7694,7789,7862
47,Tennessee,0,0,0,0,0,0,0,0,0,...,57591,59546,61006,61960,65274,66788,69061,71540,73819,76336
48,Texas,0,0,0,0,0,0,0,0,0,...,236541,245920,254415,262762,269778,279577,290892,305854,317768,327106
49,Utah,0,0,0,0,0,0,0,0,0,...,27356,28223,28855,29484,30030,30478,30891,31845,32572,33332
50,Vermont,0,0,0,0,0,0,0,0,0,...,1272,1277,1283,1296,1301,1305,1318,1325,1334,1338
51,Virginia,0,0,0,0,0,0,0,0,0,...,67988,68931,69782,70670,71642,72443,73527,74431,75433,76373
52,Washington,1,1,1,1,1,1,1,1,1,...,38581,39218,39218,40656,41757,42304,43046,44313,45067,46026
53,West Virginia,0,0,0,0,0,0,0,0,0,...,3826,3983,4146,4244,4313,4407,4557,4657,4783,4894
54,Wisconsin,0,0,0,0,0,0,0,0,0,...,33908,34753,35679,36448,36942,37906,38727,39627,40507,41485
55,Wyoming,0,0,0,0,0,0,0,0,0,...,1769,1790,1839,1862,1903,1950,1985,2026,2069,2108

In [12]:
cases_ts.to_csv('state_cases_ts.csv', index=False)

In [13]:
cases_total = cases_ts[['State', '7/18/20']]

In [14]:
cases_total = cases_total.rename(columns={'7/18/20': 'Total cases'})

In [15]:
cases_total.head()

                      State  Total cases
0            American Samoa            0
1                      Guam          314
2  Northern Mariana Islands           37
3               Puerto Rico        11453
4            Virgin Islands          283

In [16]:
cases_total.to_csv('states_cases_totals_0718.csv', index=False)

#### DEATHS

In [17]:
us_deaths = pd.read_csv('time_series_covid19_deaths_US.csv')

In [18]:
states_d = list(us_deaths['Province_State'].unique())

In [19]:
death_totals=[]
for state in states_d:
    new_df = pd.DataFrame()
    new_df = us_deaths[us_deaths['Province_State']==state]
    day_deaths=[state]
    for i in range(12,len(list(us_deaths.columns))):
        day_deaths.append(new_df.iloc[:,i].sum())
    
    death_totals.append(day_deaths)

In [20]:
dates = list(us_deaths.columns)[12::]

In [21]:
dates.insert(0, 'State')

In [22]:
deaths_ts = pd.DataFrame(death_totals, columns=dates)

In [23]:
deaths_ts = deaths_ts.drop([56,57])

In [24]:
deaths_ts.to_csv('state_deaths_ts.csv', index=False)

In [25]:
deaths_total = deaths_ts[['State', '7/18/20']]

In [26]:
deaths_total = deaths_total.rename(columns={'7/18/20': 'Total deaths'})

In [27]:
deaths_total.head()

                      State  Total deaths
0            American Samoa             0
1                      Guam             5
2  Northern Mariana Islands             2
3               Puerto Rico           178
4            Virgin Islands             6

In [28]:
deaths_total.to_csv('states_deaths_totals_0718.csv', index=False)

#### COMBINED

In [29]:
combined_df = pd.concat([cases_total, deaths_total['Total deaths']], axis=1)

In [30]:
combined_df.head()

                      State  Total cases  Total deaths
0            American Samoa            0           0.0
1                      Guam          314           5.0
2  Northern Mariana Islands           37           2.0
3               Puerto Rico        11453         178.0
4            Virgin Islands          283           6.0

In [31]:
combined_df['Mortality rate'] = combined_df['Total deaths'] / combined_df['Total cases']

In [34]:
combined_df.head()

                      State  Total cases  Total deaths  Mortality rate
0            American Samoa            0           0.0        0.000000
1                      Guam          314           5.0        0.015924
2  Northern Mariana Islands           37           2.0        0.054054
3               Puerto Rico        11453         178.0        0.015542
4            Virgin Islands          283           6.0        0.021201

In [35]:
combined_df.to_csv('cases_deaths_0718.csv', index=False)

#### Cases cumulative

In [36]:
cases_cum = pd.read_csv('state_cases_ts.csv')

In [37]:
cases_cum.head()

,State,1/22/20,1/23/20,1/24/20,1/25/20,1/26/20,1/27/20,1/28/20,1/29/20,1/30/20,...,7/9/20,7/10/20,7/11/20,7/12/20,7/13/20,7/14/20,7/15/20,7/16/20,7/17/20,7/18/20
0,American Samoa,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
1,Guam,0,0,0,0,0,0,0,0,0,...,309,310,310,310,312,312,313,314,314,314
2,Northern Mariana Islands,0,0,0,0,0,0,0,0,0,...,31,31,33,33,33,36,36,37,37,37
3,Puerto Rico,0,0,0,0,0,0,0,0,0,...,8862,9137,9366,9654,10010,10123,10379,10574,11120,11453
4,Virgin Islands,0,0,0,0,0,0,0,0,0,...,144,153,167,181,206,206,243,249,263,283

In [38]:
states_c = list(cases_cum['State'].unique())

In [39]:
case_cum =[]
for day in range(1,len(list(cases_cum.columns))):
    case_cum.append(cases_cum.iloc[:,day].sum())

In [40]:
case_dates = list(cases_cum.columns)[1::]

In [41]:
cum_cases_df = pd.DataFrame({'Date':case_dates, 'Cumulative Cases':case_cum})

In [42]:
cum_cases_df.tail()

        Date  Cumulative Cases
174  7/14/20           3431574
175  7/15/20           3498902
176  7/16/20           3576157
177  7/17/20           3647715
178  7/18/20           3711413

In [43]:
cum_cases_df.to_csv('cumulative_cases0718.csv', index=False)

#### Deaths Cumulative

In [44]:
deaths_cum = pd.read_csv('state_deaths_ts.csv')

In [45]:
states_d = list(deaths_cum['State'].unique())

In [46]:
death_cum =[]
for day in range(1,len(list(deaths_cum.columns))):
    death_cum.append(deaths_cum.iloc[:,day].sum())

In [47]:
cum_deaths_df = pd.DataFrame({'Date':case_dates, 'Cumulative Deaths':death_cum})

In [48]:
cum_deaths_df.tail()

        Date  Cumulative Deaths
174  7/14/20             136463
175  7/15/20             137412
176  7/16/20             138355
177  7/17/20             139263
178  7/18/20             140116

In [49]:
cum_deaths_df.to_csv('cumulative_deaths0718.csv', index=False)